<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Guilherme Holtz</string>
	<key>Builder Version</key>
	<string>9537.77.4</string>
	<key>CFBundleDisplayName</key>
	<string>harvest-trello</string>
	<key>CFBundleIdentifier</key>
	<string>com.gsholtz.harvestTrello</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>js/trello.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>https://trello.com/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Harvest time tracking extension to use on Trello for Safari browser.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.trello.com</string>
				<string>*.harvestapp.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/gsholtz/harvest-trello-safari</string>
</dict>
</plist>
